{% extends 'base.html' %}
  {% block extrajs%}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 100%;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 2px 2px 2px;
    padding: 2px;
    font-size: 0.8em;
    width: 100%;
  }
  .mbitem {
    background-color:#eeffee;
  }
  .sbitem {
    background-color:#eeeeff;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
  </script>
{% endblock extrajs %}


{% block  content %}
<div class="row">
  <div class="col s4">
    <ul id="sortable1" class="connectedSortable">
    {% for card_type, cards in object.deck.get_mainboard_cards_sorted.items %}
      {% if card_type != "types" %}
        {% for card in cards %}
          {% with ''|center:card.quantity as range %}
            {% for _ in range %}
              <li class="ui-state-default mbitem">{{card.card.name}}</li>
            {% endfor %}
          {% endwith %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="col s4">
    <ul id="sortable2" class="connectedSortable">
    {% for card_type, cards in object.deck.get_side_cards_sorted.items %}
      {% if card_type != "types" %}
        {% for card in cards %}
          {% with ''|center:card.quantity as range %}
            {% for _ in range %}
              <li class="ui-state-default sbitem">{{card.card.name}}</li>
            {% endfor %}
          {% endwith %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
<script>
  $( ".mbitem" ).sortable({
    update: function( event, ui ) {}
  });
  $( ".mbitem" ).on( "sortupdate", function( event, ui ) {console.log('foo')} );
</script>
 {% endblock content %}
