{% extends 'base.html' %}
{% block content %}
<h1 class="header center orange-text">{{object_list.first.deck.deck_name}} Matchups</h1>
{% if object_list %}
  <a href  ="{% url 'sideboard-list-print' object_list.first.deck.slug %}">Print</a>
{% endif %}
{% if form %}
<form class="login" method="POST" action="{% url 'sideboard-create' %}">
  {% csrf_token %}
  <p>Add guide for {{ form.deck.as_hidden }} {{ form.owner.as_hidden }}{{ form.opponent}}<button class="primaryAction" type="submit">add</button></p>
</form>
{% endif %}
    {% for object in object_list %}
    {% cycle "row1" "row2"  as rows silent %}
        {% if rows == "row1" %}
        <div class="row">
        {% endif %}
        {% include "sideboards/widgets/sb_compact.html"%}
        {% if rows == "row2" or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock content %}
