{% extends 'base.html' %}
{% block content %}
<h2 class="header center orange-text">{{object.deck.deck_name}} V {{object.opponent.deck_name}}</h2>
{% if object.owner.username%}
<h3 class="header center blue-text">
    submited by: {{object.owner.username}} 
    {% if user == object.owner %}
        <a class="waves-effect waves-light btn-large" href="{% url 'sideboard-edit' object.slug %}">edit</a>
    {% endif %}
</h3>
{% endif %}

<div class="row">
    <div class="col s6">
        <h4>Cards In</h4>
        <ul class="cards-in">
            {% for card in object.get_cards_in %}
                <li><img src="{{card.image}}"/> {{card.qty}} x {{card.card}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s6">
        <h4>Cards Out</h4>
        <ul class="cards-out">
            {% for card in object.get_cards_out %}
                <li><img src="{{card.image}}"/> {{card.qty}} x {{card.card}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
