
<div class="col s6 card medium">
    <a href="{{ object.get_absolute_url }}">
    <div class = "card-image">
        <a href="{{ object.get_absolute_url }}">
            <img src="{{ object.opponent.emblem.image_art_crop }}"/>
            <span class="card-title black">{{ object.opponent.deck_name}}</span>
        </a>
    </div>
    <div class="card-content">
        <div class = "row">
            <div class="col s6">
                <p>In</p>
                <ul>
                    {% for card in object.get_cards_in %}
                        <li>{{card.qty}} x {{card.card}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s6">
                <p>Out</p>
                <ul>
                    {% for card in object.get_cards_out %}
                        <li>{{card.qty}} x {{card.card}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
