{% extends 'base.html' %}
{% block content %}
<h1 class="header center orange-text">{{ foo }} Decks</h1>
{% if form %}
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add a deck</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
        <div class="modal-content">
            <form class="login" method="POST" action="{% url 'mydeck-add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
        </div>
        <div class="modal-footer">       
            <button class="primaryAction" type="submit">add</button>
        </div>
        </form>
    </div>
{% endif %}
<div class="row">
{% for deck in object_list %}
    <div class="col s6">
        <div class="card medium">
            <span class="card-title">{{ deck.deck_name}}</span>
            <div class="card-content">
                <p>Sideboard</p>
                <ul>
                {% for card in deck.get_sideboard_cards %}
                        <li>{{ card.card }} </li>
                {% endfor %}
                </ul>
            </div>
            <div class="card-action black">
                <a href="{% url 'sideboard-list' deck.slug %}">Sideboard Guide</a>
                <a href="{{deck.get_absolute_url }}">Decklist</a>
            </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}
{% block footerjs %}
<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock footerjs%}
            