{% extends 'base.html' %}
{% block content %}
<h1 class="header center orange-text">{{ foo }} Decks</h1>
<a class="waves-effect waves-light btn" href="{% url 'mydeck-add' %}">Add a deck</a>
<div class="row">
{% for deck in object_list %}
    <div class="col s6">
        <div class="card small">
            <div class = "card-image">
                <img src="{{ deck.emblem.image_art_crop }}"/>
                <span class="card-title black">{{ deck.deck_name}}</span>
            </div>
            </ul>
            <div class="card-content">
                <p>{{ deck.legality | lower }} - {{ deck.archetype | lower }}</p>
            </div>
            <div class="card-action black">
                <a href="{% url 'sideboard-list' deck.slug %}">Sideboard Guide</a>
                <a href="{{deck.get_absolute_url }}">Decklist</a>
            </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}
