{% extends 'base.html' %}
{% block content %}
<h1 class="header center orange-text">{{object.deck_name}}</h1>
<div class="row">
    <div class="col s3">
        <img class="responsive-img" src="{{deck.emblem.image_link}}"/>
        <a href="https://decklist.org/?{{deck.get_decklist_str}}" target="_blank">Get printable Decklist from decklist.org</a>
    </div>
    <div class="col s3">
        <h4>Main</h4>
        <ul>
            {% for card in object.get_mainboard_cards %}
                <li>{{card.qty}} x {{card.card}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s3">
        <h4>Side</h4>
        <ul>
            {% for card in object.get_sideboard_cards %}
                <li>{{card.qty}} x {{card.card}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}

            