{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s4">
        {% if deck.emblem %}
        <h3 class="header center orange-text">{{object.deck_name}}</h3>
            <img class="responsive-img" src="{{deck.emblem.image_link}}"/>
        {% else %}
            <p> choose and card as deck image </p>
            <ul>
            {% for card in deck.get_card_objects %}
                <li><a href="?c={{card.card.id}}">{{card.card.name}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        <a href="https://decklist.org/?{{deck.get_decklist_str}}" target="_blank">Get printable Decklist from decklist.org</a>
    </div>
    <div class="col s8">
        <ul class="tabs">
           <li class="tab col s4"><a href="#main">Main</a></li>
           <li class="tab col s4"><a href="#side">Side</a></li>
        </ul>
        <div id="main">
            <ul class="collapsible expandable">
                {% for card_type, cards in deck.get_mainboard_cards_sorted.items %}

                    {% if card_type != "types" %}
                        {% include "decks/widgets/deck_section.html"%}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="side">
            <ul class="collapsible expandable">
            {% for card_type, cards in deck.get_side_cards_sorted.items %}
                {% if card_type != "types" %}
                    {% include "decks/widgets/deck_section.html"%}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class = "col s4">
        {% if form %}
                <div class="modal-content">
                    <form class="login" method="POST" action="{% url 'mydeck-update' object.slug %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                </div>
                <div class="modal-footer">       
                    <button class="primaryAction" type="submit">add</button>
                </div>
                </form>
        {% endif %}

    </div>
</div>
{% endblock content %}