<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mtg Matchups</title>
  <meta name="description" content="Matchups.com">
  <meta name="author" content="Raymond McGinlay">

    {% block head %}
    {% include 'material/includes/material_css.html' %}
      {% block js %}
      <script src="{% static 'material/js/jquery.js' %}"></script>
      <script src="{% static 'material/js/turbolinks.js' %}"></script>
      {% include 'material/includes/material_js.html' %}
      {% block extrajs %}{% endblock %}
      {% endblock %}
    {% endblock %}
</head>

<body>
{% block "nav" %}
{% include "widgets/menu.html"%}
{% endblock "nav"%}
<div class="container">
    {% block content %}
    {{ flatpage.content }}


    {% endblock content %}
</div>
{% block footerjs %}
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('select').formSelect();
    $('.tabs').tabs();
    $('.collapsible').collapsible();
    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
    accordion: false
    });
  });
</script>
{% endblock footerjs %}
</body>
</html>