<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mtg Matchups</title>
  <meta name="description" content="Matchups.com">
  <meta name="author" content="Raymond McGinlay">

    {% block head %}
    {% include 'material/includes/material_css.html' %}
      {% block js %}
      <script src="{% static 'material/js/jquery.js' %}"></script>
      <script src="{% static 'material/js/turbolinks.js' %}"></script>
      {% include 'material/includes/material_js.html' %}
      {% block extrajs %}{% endblock %}
      {% endblock %}
    {% endblock %}
</head>

<body>
{% block "nav" %}

  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">MTG Matchups</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'deck-list' %}">Meta decks</a></li>
          <li><a href="{% url 'deck-mylist' %}">My Decks</a></li>
          <li><a href="collapsible.html">login</a></li>
        </ul>
      </div>
    </div>
  </nav>
        
{% endblock "nav"%}
<div class="container">
    {% block content %}

    {% endblock content %}
</div>
{% block footerjs %}
{% endblock footerjs %}
</body>
</html>